/*
 
----------------------------
GLOBAL VARIABLES (defaults)
----------------------------

*/
:root {
  --animation-duration: 300ms;
  --animation-easing: ease;
  --animation-delay: 0ms;
}

/* All animations will be created here + @keyframes */
/* NOTE : Classes Prefix is super important be sure to write it as the animation name prop */
/* NOTE : All Class prefix should start in lowercase */
/* NOTE : All Keyframes should start with UPPERCASE , Also use camelCase  : SlideInRight , SlideInLeft  */

/* Fade Animation */
.fade-enter-active,
.fade-leave-active {
  transition: opacity var(--animation-duration) var(--animation-easing) var(--animation-delay);
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
.fade-enter-to,
.fade-leave-from {
  opacity: 1;
}

/* SlideInRight Animation */
@keyframes SlideInRight {
  from {
    transform: translate3d(75%, 0, 0);
    visibility: visible;
    opacity: 0;
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
/* When entering */
.slideInRight-enter-active {
  position: absolute;
  animation: SlideInRight var(--animation-duration, 0.5s) var(--animation-delay, 0s)
    var(--animation-easing, ease) forwards;
}

/* When leaving */
.slideInRight-leave-active {
  position: absolute;
  animation: SlideInRight var(--animation-duration, 0.5s) var(--animation-delay, 0s)
    var(--animation-easing, ease) reverse forwards;
}

/* SlideInLeft Animation */
@keyframes SlideInLeft {
  from {
    transform: translate3d(-75%, 0, 0);
    visibility: visible;
    opacity: 0;
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
/* When entering */
.slideInLeft-enter-active {
  position: absolute;
  animation: SlideInLeft var(--animation-duration, 0.5s) var(--animation-delay, 0s)
    var(--animation-easing, ease) forwards;
}

/* When leaving */
.slideInLeft-leave-active {
  position: absolute;
  animation: SlideInLeft var(--animation-duration, 0.5s) var(--animation-delay, 0s)
    var(--animation-easing, ease) reverse forwards;
}

/* SlideInUp Animation */
@keyframes SlideInUp {
  from {
    transform: translate3d(0, 50%, 0);
    visibility: visible;
    opacity: 0;
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
/* When entering */
.slideInUp-enter-active {
  position: absolute;
  animation: SlideInUp var(--animation-duration, 0.5s) var(--animation-delay, 0s)
    var(--animation-easing, ease) forwards;
}

/* When leaving */
.slideInUp-leave-active {
  position: absolute;
  animation: SlideInUp var(--animation-duration, 0.5s) var(--animation-delay, 0s)
    var(--animation-easing, ease) reverse forwards;
}

/* SlideInDown Animation */
@keyframes SlideInDown {
  from {
    transform: translate3d(0, -50%, 0);
    visibility: visible;
    opacity: 0;
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
/* When entering */
.slideInDown-enter-active {
  position: absolute;
  animation: SlideInDown var(--animation-duration, 0.5s) var(--animation-delay, 0s)
    var(--animation-easing, ease) forwards;
}

/* When leaving */
.slideInDown-leave-active {
  position: absolute;
  animation: SlideInDown var(--animation-duration, 0.5s) var(--animation-delay, 0s)
    var(--animation-easing, ease) reverse forwards;
}

/* BounceIn */
@keyframes BounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.415, -0.61, 0.655, -1);
    animation-timing-function: cubic-bezier(0.415, -0.61, 0.655, -1);
  }
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}
/* When entering */
.bounceIn-enter-active {
  position: absolute;
  animation: BounceIn var(--animation-duration, 0.5s) var(--animation-delay, 0s)
    var(--animation-easing, ease) forwards;
}

/* When leaving */
.bounceIn-leave-active {
  position: absolute;
  animation: BounceIn var(--animation-duration, 0.5s) var(--animation-delay, 0s)
    var(--animation-easing, ease) reverse forwards;
}

/* BounceDown */
@keyframes BounceDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
  }

  40% {
    transform: translate3d(0, 50%, 0);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, -20%, 0);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  80% {
    transform: translate3d(0, 10%, 0);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  100% {
    transform: translate3d(0, 0, 0); /* settle */
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
}
/* When entering */
.bounceDown-enter-active {
  position: absolute;
  animation: BounceDown var(--animation-duration, 0.5s) var(--animation-delay, 0s)
    var(--animation-easing, ease) forwards;
}

/* When leaving */
.bounceDown-leave-active {
  position: absolute;
  animation: BounceDown var(--animation-duration, 0.5s) var(--animation-delay, 0s)
    var(--animation-easing, ease) reverse forwards;
}
/* BounceUp */
@keyframes BounceUp {
  0% {
    opacity: 0;
    position: absolute;
    transform: translate3d(0, 50%, 0);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
  }
  40% {
    transform: translate3d(0, -50%, 0);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, 30%, 0);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  70% {
    transform: translate3d(0, -10%, 0);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  80% {
    transform: translate3d(0, 10%, 0);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  100% {
    transform: translate3d(0, 0, 0); /* settle */
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
}
/* When entering */
.bounceUp-enter-active {
  position: absolute;
  animation: BounceUp var(--animation-duration, 0.5s) var(--animation-delay, 0s)
    var(--animation-easing, ease) forwards;
}

/* When leaving */
.bounceUp-leave-active {
  position: absolute;
  animation: BounceUp var(--animation-duration, 0.5s) var(--animation-delay, 0s)
    var(--animation-easing, ease) reverse forwards;
}

@keyframes RotateIn {
  0% {
    opacity: 0;
    transform: rotate3d(0, 0, 1, -200deg);
  }
  to {
    transform: rotate3d(0, 0, 1, 0deg);
  }
}

/* When entering */
.rotateIn-enter-active {
  position: absolute;
  animation: RotateIn var(--animation-duration, 0.5s) var(--animation-delay, 0s)
    var(--animation-easing, ease) forwards;
}

/* When leaving */
.rotateIn-leave-active {
  position: absolute;
  animation: RotateIn var(--animation-duration, 0.5s) var(--animation-delay, 0s)
    var(--animation-easing, ease) reverse forwards;
}

@keyframes RotateUp {
  0% {
    opacity: 0;
    transform: rotate3d(0, 0, 1, 20deg);
    animation-timing-function: cubic-bezier(0.815, 0.51, 0.05, 0.12);
  }
  to {
    transform: rotate3d(0, 0, 1, 0deg);
  }
}

/* When entering */
.rotateUp-enter-active {
  position: absolute;
  transform-origin: left top;
  animation: RotateUp var(--animation-duration, 0.5s) var(--animation-delay, 0s)
    var(--animation-easing, ease) forwards;
}

/* When leaving */
.rotateUp-leave-active {
  position: absolute;
  transform-origin: left bottom;
  animation: RotateUp var(--animation-duration, 0.5s) var(--animation-delay, 0s)
    var(--animation-easing, ease) reverse forwards;
}
@keyframes RotateDown {
  0% {
    opacity: 0;
    transform: rotate3d(0, 0, 0.1, -20deg);
    animation-timing-function: cubic-bezier(0.815, 0.51, 0.05, 0.12);
  }
  to {
    transform: rotate3d(0, 0, 0.2, 0deg);
  }
}

/* When entering */
.rotateDown-enter-active {
  position: absolute;
  transform-origin: left top;
  animation: RotateDown var(--animation-duration, 0.5s) var(--animation-delay, 0s)
    var(--animation-easing, ease) forwards;
}

/* When leaving */
.rotateDown-leave-active {
  position: absolute;
  transform-origin: right top;
  animation: RotateDown var(--animation-duration, 0.5s) var(--animation-delay, 0s)
    var(--animation-easing, ease) reverse forwards;
}
