/*
 
----------------------------
GLOBAL VARIABLES (defaults)
----------------------------

*/
:root {
  --animation-duration: 300ms;
  --animation-easing: ease;
  --animation-delay: 0ms;
}

/* All animations will be created here + @keyframes */
/* NOTE : Classes Prefix is super important be sure to write it as the animation name prop */
/* NOTE : All Class prefix should start in lowercase */
/* NOTE : All Keyframes should start with UPPERCASE , Also use camelCase  : SlideInRight , SlideInLeft  */

/* Fade Animation */
.fade-enter-active,
.fade-leave-active {
  transition: opacity var(--animation-duration) var(--animation-easing) var(--animation-delay);
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
.fade-enter-to,
.fade-leave-from {
  opacity: 1;
}

/* SlideInRight Animation */
@keyframes SlideInRight {
  from {
    transform: translate3d(75%, 0, 0);
    visibility: visible;
    opacity: 0;
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
/* When entering */
.slideInRight-enter-active {
  position: absolute;
  animation: SlideInRight var(--animation-duration, 0.5s) var(--animation-delay, 0s)
    var(--animation-easing, ease) forwards;
}

/* When leaving */
.slideInRight-leave-active {
  position: absolute;
  animation: SlideInRight var(--animation-duration, 0.5s) var(--animation-delay, 0s)
    var(--animation-easing, ease) reverse forwards;
}

/* SlideInLeft Animation */
@keyframes SlideInLeft {
  from {
    transform: translate3d(-75%, 0, 0);
    visibility: visible;
    opacity: 0;
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
/* When entering */
.slideInLeft-enter-active {
  position: absolute;
  animation: SlideInLeft var(--animation-duration, 0.5s) var(--animation-delay, 0s)
    var(--animation-easing, ease) forwards;
}

/* When leaving */
.slideInLeft-leave-active {
  position: absolute;
  animation: SlideInLeft var(--animation-duration, 0.5s) var(--animation-delay, 0s)
    var(--animation-easing, ease) reverse forwards;
}
