/*
 
----------------------------
GLOBAL VARIABLES (defaults)
----------------------------

*/
:root {
  --animation-duration: 300ms;
  --animation-easing: ease;
  --animation-delay: 0ms;
}

/* All animations will be created here + @keyframes */
/* NOTE : Classes Prefix is super important be sure to write it as the animation name prop */
/* NOTE : All Class prefix should start in lowercase */
/* NOTE : All Keyframes should start with UPPERCASE , Also use camelCase  : SlideInRight , SlideInLeft  */

/* Attention Animations */
.vt-attention-pulse {
  animation: vt-pulse var(--animation-duration) var(--animation-easing) var(--animation-delay)
    var(--animation-iteration-count);
}

@keyframes vt-pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.vt-attention-flash {
  animation: vt-flash var(--animation-duration) var(--animation-easing) var(--animation-delay)
    var(--animation-iteration-count);
}
@keyframes vt-flash {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 10%;
  }
  100% {
    opacity: 100%;
  }
}

.vt-attention-shakex {
  animation: vt-shakex var(--animation-duration) var(--animation-easing) var(--animation-delay)
    var(--animation-iteration-count);
}

@keyframes vt-shakex {
  0% {
    transform: translateX(0) rotate(0);
  }
  10% {
    transform: translateX(-12px) rotate(-1deg);
  }
  20% {
    transform: translateX(12px) rotate(1deg);
  }
  30% {
    transform: translateX(-10px) rotate(-1deg);
  }
  40% {
    transform: translateX(10px) rotate(1deg);
  }
  50% {
    transform: translateX(-8px) rotate(-1deg);
  }
  60% {
    transform: translateX(8px) rotate(1deg);
  }
  70% {
    transform: translateX(-6px) rotate(-0.8deg);
  }
  80% {
    transform: translateX(6px) rotate(0.8deg);
  }
  90% {
    transform: translateX(-4px) rotate(-0.5deg);
  }
  100% {
    transform: translateX(0) rotate(0);
  }
}

.vt-attention-shakey {
  animation: vt-shakey var(--animation-duration) var(--animation-easing) var(--animation-delay)
    var(--animation-iteration-count);
}

@keyframes vt-shakey {
  0% {
    transform: translateY(0) rotate(0);
  }
  10% {
    transform: translateY(-12px) rotate(-1deg);
  }
  20% {
    transform: translateY(12px) rotate(1deg);
  }
  30% {
    transform: translateY(-10px) rotate(-1deg);
  }
  40% {
    transform: translateY(10px) rotate(1deg);
  }
  50% {
    transform: translateY(-8px) rotate(-1deg);
  }
  60% {
    transform: translateY(8px) rotate(1deg);
  }
  70% {
    transform: translateY(-6px) rotate(-0.8deg);
  }
  80% {
    transform: translateY(6px) rotate(0.8deg);
  }
  90% {
    transform: translateY(-4px) rotate(-0.5deg);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}

.vt-attention-swing {
  animation: vt-swing var(--animation-duration) var(--animation-easing) var(--animation-delay)
    var(--animation-iteration-count);
}

@keyframes vt-swing {
  0% {
    transform: translateY(0) rotate(0);
  }
  20% {
    transform: translateY(5px) rotate(8deg);
  }
  40% {
    transform: translateY(-5px) rotate(-8deg);
  }
  60% {
    transform: translateY(2px) rotate(5deg);
  }
  80% {
    transform: translateY(-2px) rotate(-5deg);
  }
  100% {
    transform: translateY(0px) rotate(0deg);
  }
}

.vt-attention-tada {
  animation: vt-tada var(--animation-duration) var(--animation-easing) var(--animation-delay)
    var(--animation-iteration-count);
}

@keyframes vt-tada {
  0% {
    transform: rotate(0deg) scale(1);
  }
  10% {
    transform: rotate(-5deg) scale(0.9);
  }
  20% {
    transform: rotate(5deg) scale(1.1);
  }
  30% {
    transform: rotate(-4deg) scale(1.1);
  }
  40% {
    transform: rotate(4deg) scale(1.1);
  }
  50% {
    transform: rotate(-3deg) scale(1.1);
  }
  60% {
    transform: rotate(3deg) scale(1.1);
  }
  70% {
    transform: rotate(-2deg) scale(1.1);
  }
  80% {
    transform: rotate(2deg) scale(1.1);
  }
  90% {
    transform: rotate(-1deg) scale(1.1);
  }
  100% {
    transform: rotate(0deg) scale(1);
  }
}

/* Fade Animation */
.fade-enter-active,
.fade-leave-active {
  transition: opacity var(--animation-duration) var(--animation-easing) var(--animation-delay);
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
.fade-enter-to,
.fade-leave-from {
  opacity: 1;
}

/* SlideInRight Animation */
@keyframes SlideInRight {
  from {
    transform: translate3d(75%, 0, 0);
    visibility: visible;
    opacity: 0;
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
/* When entering */
.slideInRight-enter-active {
  animation: SlideInRight var(--animation-duration, 0.5s) var(--animation-delay, 0s)
    var(--animation-easing, ease) forwards;
}

/* When leaving */
.slideInRight-leave-active {
  animation: SlideInRight var(--animation-duration, 0.5s) var(--animation-delay, 0s)
    var(--animation-easing, ease) reverse forwards;
}

/* SlideInLeft Animation */
@keyframes SlideInLeft {
  from {
    transform: translate3d(-75%, 0, 0);
    visibility: visible;
    opacity: 0;
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
/* When entering */
.slideInLeft-enter-active {
  animation: SlideInLeft var(--animation-duration, 0.5s) var(--animation-delay, 0s)
    var(--animation-easing, ease) forwards;
}

/* When leaving */
.slideInLeft-leave-active {
  animation: SlideInLeft var(--animation-duration, 0.5s) var(--animation-delay, 0s)
    var(--animation-easing, ease) reverse forwards;
}

/* SlideInUp Animation */
@keyframes SlideInUp {
  from {
    transform: translate3d(0, 50%, 0);
    visibility: visible;
    opacity: 0;
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
/* When entering */
.slideInUp-enter-active {
  animation: SlideInUp var(--animation-duration, 0.5s) var(--animation-delay, 0s)
    var(--animation-easing, ease) forwards;
}

/* When leaving */
.slideInUp-leave-active {
  animation: SlideInUp var(--animation-duration, 0.5s) var(--animation-delay, 0s)
    var(--animation-easing, ease) reverse forwards;
}

/* SlideInDown Animation */
@keyframes SlideInDown {
  from {
    transform: translate3d(0, -50%, 0);
    visibility: visible;
    opacity: 0;
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
/* When entering */
.slideInDown-enter-active {
  animation: SlideInDown var(--animation-duration, 0.5s) var(--animation-delay, 0s)
    var(--animation-easing, ease) forwards;
}

/* When leaving */
.slideInDown-leave-active {
  animation: SlideInDown var(--animation-duration, 0.5s) var(--animation-delay, 0s)
    var(--animation-easing, ease) reverse forwards;
}

/* BounceIn */
@keyframes BounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.415, -0.61, 0.655, -1);
    animation-timing-function: cubic-bezier(0.415, -0.61, 0.655, -1);
  }
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}
/* When entering */
.bounceIn-enter-active {
  animation: BounceIn var(--animation-duration, 0.5s) var(--animation-delay, 0s)
    var(--animation-easing, ease) forwards;
}

/* When leaving */
.bounceIn-leave-active {
  animation: BounceIn var(--animation-duration, 0.5s) var(--animation-delay, 0s)
    var(--animation-easing, ease) reverse forwards;
}

/* BounceDown */
@keyframes BounceDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
  }

  40% {
    transform: translate3d(0, 50%, 0);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, -20%, 0);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  80% {
    transform: translate3d(0, 10%, 0);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  100% {
    transform: translate3d(0, 0, 0); /* settle */
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
}
/* When entering */
.bounceDown-enter-active {
  animation: BounceDown var(--animation-duration, 0.5s) var(--animation-delay, 0s)
    var(--animation-easing, ease) forwards;
}

/* When leaving */
.bounceDown-leave-active {
  animation: BounceDown var(--animation-duration, 0.5s) var(--animation-delay, 0s)
    var(--animation-easing, ease) reverse forwards;
}
/* BounceUp */
@keyframes BounceUp {
  0% {
    opacity: 0;

    transform: translate3d(0, 50%, 0);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
  }
  40% {
    transform: translate3d(0, -50%, 0);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, 30%, 0);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  70% {
    transform: translate3d(0, -10%, 0);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  80% {
    transform: translate3d(0, 10%, 0);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  100% {
    transform: translate3d(0, 0, 0); /* settle */
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
}
/* When entering */
.bounceUp-enter-active {
  animation: BounceUp var(--animation-duration, 0.5s) var(--animation-delay, 0s)
    var(--animation-easing, ease) forwards;
}

/* When leaving */
.bounceUp-leave-active {
  animation: BounceUp var(--animation-duration, 0.5s) var(--animation-delay, 0s)
    var(--animation-easing, ease) reverse forwards;
}

@keyframes RotateIn {
  0% {
    opacity: 0;
    transform: rotate3d(0, 0, 1, -200deg);
  }
  to {
    transform: rotate3d(0, 0, 1, 0deg);
  }
}

/* When entering */
.rotateIn-enter-active {
  animation: RotateIn var(--animation-duration, 0.5s) var(--animation-delay, 0s)
    var(--animation-easing, ease) forwards;
}

/* When leaving */
.rotateIn-leave-active {
  animation: RotateIn var(--animation-duration, 0.5s) var(--animation-delay, 0s)
    var(--animation-easing, ease) reverse forwards;
}

@keyframes RotateUp {
  0% {
    opacity: 0;
    transform: rotate3d(0, 0, 1, 20deg);
    animation-timing-function: cubic-bezier(0.815, 0.51, 0.05, 0.12);
  }
  to {
    transform: rotate3d(0, 0, 1, 0deg);
  }
}

/* When entering */
.rotateUp-enter-active {
  transform-origin: left top;
  animation: RotateUp var(--animation-duration, 0.5s) var(--animation-delay, 0s)
    var(--animation-easing, ease) forwards;
}

/* When leaving */
.rotateUp-leave-active {
  transform-origin: left bottom;
  animation: RotateUp var(--animation-duration, 0.5s) var(--animation-delay, 0s)
    var(--animation-easing, ease) reverse forwards;
}
@keyframes RotateDown {
  0% {
    opacity: 0;
    transform: rotate3d(0, 0, 0.1, -20deg);
    animation-timing-function: cubic-bezier(0.815, 0.51, 0.05, 0.12);
  }
  to {
    transform: rotate3d(0, 0, 0.2, 0deg);
  }
}

/* When entering */
.rotateDown-enter-active {
  transform-origin: left top;
  animation: RotateDown var(--animation-duration, 0.5s) var(--animation-delay, 0s)
    var(--animation-easing, ease) forwards;
}

/* When leaving */
.rotateDown-leave-active {
  transform-origin: right top;
  animation: RotateDown var(--animation-duration, 0.5s) var(--animation-delay, 0s)
    var(--animation-easing, ease) reverse forwards;
}

@keyframes ZoomIn {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}

/* When entering */
.zoomIn-enter-active {
  animation: ZoomIn var(--animation-duration, 0.5s) var(--animation-delay, 0s)
    var(--animation-easing, ease) forwards;
}

/* When leaving */
.zoomIn-leave-active {
  animation: ZoomIn var(--animation-duration, 0.5s) var(--animation-delay, 0s)
    var(--animation-easing, ease) reverse forwards;
}

@keyframes ZoomUp {
  0% {
    opacity: 0;
    transform: scale(0.5) translate3d(0, 70%, 0);
  }
  to {
    transform: scale(1);
  }
}

/* When entering */
.zoomUp-enter-active {
  animation: ZoomUp var(--animation-duration, 0.5s) var(--animation-delay, 0s)
    var(--animation-easing, ease) forwards;
}

/* When leaving */
.zoomUp-leave-active {
  animation: ZoomUp var(--animation-duration, 0.5s) var(--animation-delay, 0s)
    var(--animation-easing, ease) reverse forwards;
}

@keyframes ZoomDown {
  0% {
    opacity: 0;
    transform: scale(0.5) translate3d(0, -70%, 0);
  }
  to {
    transform: scale(1);
  }
}

/* When entering */
.zoomDown-enter-active {
  animation: ZoomDown var(--animation-duration, 0.5s) var(--animation-delay, 0s)
    var(--animation-easing, ease) forwards;
}

/* When leaving */
.zoomDown-leave-active {
  animation: ZoomDown var(--animation-duration, 0.5s) var(--animation-delay, 0s)
    var(--animation-easing, ease) reverse forwards;
}

@keyframes FlipX {
  0% {
    opacity: 0;
    transform: perspective(100px) rotate3d(1, 0, 0, 90deg);
  }
  40% {
    transform: perspective(100px) rotate3d(1, 0, 0 20deg);
  }
  60% {
    transform: perspective(100px) rotate3d(1, 0, 0, -10deg);
  }
  to {
    transform: perspective(200px);
  }
}

/* When entering */
.flipX-enter-active {
  animation: FlipX var(--animation-duration, 0.5s) var(--animation-delay, 0s)
    var(--animation-easing, ease) forwards;
}

/* When leaving */
.flipX-leave-active {
  animation: FlipX var(--animation-duration, 0.5s) var(--animation-delay, 0s)
    var(--animation-easing, ease) reverse forwards;
}

@keyframes FlipY {
  0% {
    opacity: 0;
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
  }
  40% {
    transform: perspective(400px) rotate3d(0, 1, 0 20deg);
  }
  60% {
    transform: perspective(400px) rotate3d(0, 1, 0, -10deg);
  }
  to {
    transform: perspective(400px);
  }
}

/* When entering */
.flipY-enter-active {
  animation: FlipY var(--animation-duration, 0.5s) var(--animation-delay, 0s)
    var(--animation-easing, ease) forwards;
}

/* When leaving */
.flipY-leave-active {
  animation: FlipY var(--animation-duration, 0.5s) var(--animation-delay, 0s)
    var(--animation-easing, ease) reverse forwards;
}
